.card {
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
    margin: 12px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 16px 16px 24px 16px;
    border: 1px solid #ddd;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.imgContainer img,
.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre {
    font-size: 18px;
    font-weight: 600;
    color: var(--texto);
    margin-bottom: 4px;
}

.precio {
    font-size: 18px;
    font-weight: 700;
    color: var(--verde);
    margin-bottom: 4px;
}

.stock {
    font-size: 13px;
    color: var(--gris);
    margin-bottom: 12px;
}

.cantidadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
}

.qtyButton {
    background-color: var(--mostaza);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.2s;
}

.qtyButton:hover {
    background-color: var(--mostaza-hover);
}

button {
    background-color: var(--verde);
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #557c6d;
}

.ver-mas-link {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    color: var(--verde);
    text-decoration: none;
    font-weight: bold;
}

.ver-mas-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}